:root {
  --dark-main: hsl(218, 28%, 13%);
  --sec: hsl(176, 68%, 64%);
  --light-main: #fff;
}

*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.bg-dark-main {
  background-color: var(--dark-main);
}

.bg-light-main {
  background-color: var(--light-main);
}

.bg-dark {
  background-color: hsl(218, 28%, 13%);
}

.btn-cyan {
  background-color: var(--sec);
}

.h2 {
  max-width: 35ch;
}

.btn-large {
  width: 300px;
}

.text-short {
  max-width: 44ch;
}

.bg-custom {
  background-color: hsl(219, 30%, 18%);
  color: #fff;
}

.z-index-1 {
  z-index: 1;
}

.footer {
  background-color: hsl(216, 53%, 9%);
}

.white-space {
  min-height: 300px;
  background-color: hsl(216, 53%, 9%);
}

#wide-input {
  width: 300px;
}

#quotes {
  margin-top: -34px;
  margin-left: -10px;
  z-index: -1;
}

#email-form {
  position: absolute;
}

@media screen and (max-width: 577px) {
  #email-form {
    position: relative;
  }

  #wide-input {
    max-width: 250px;
  }

  .btn-large {
    max-width: 250px;
  }
}
